<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Server Error</h1>
  <p>Sorry, something went wrong on the server.</p>


  <p><a href="/">Return Home</a></p>
</body>
</html>
